@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: 'Poppins', sans-serif;
}

::selection {
  background: 002765;
  color: white;
}

body {
  min-height: 100vh;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0, 102, 128);
}

.container {
  padding: 30px;
  background: white;
  border-radius: 6px;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.01);
}

.container h2 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.container form {
  margin: 20px 0 20px 0;
}

.container form input,
.container form select,
.container form button {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  transition: 0.3s;
}

.container form p {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 400;
}

.container form input {
  height: 50px;
  font-size: 18px;
  border: 1px solid #999;
  padding: 0 20px 0 20px;
  width: auto;
  margin-bottom: 20px;
}

.container form input:focus {
  border: purple 1px solid;
}

.container form .droplist {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container form .droplist .select-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #999;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}

.container form .droplist .select-box select::-webkit-scrollbar {
  width: 8px;
}

.container form .droplist .select-box select::-webkit-scrollbar-track {
  background: #ccc;
}
.container form .droplist .select-box select::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

.container form .droplist .icon {
  font-size: 22px;
  cursor: pointer;
  margin-top: 40px;
}

.container form .droplist .select-box img {
  width: 21px;
}

.container form .droplist .select-box select {
  width: auto;
  background: none;
  margin: 0 -5px 0 5px;
  font-size: 16px;
  cursor: pointer;
}

.container form .exchange-rate {
  font-size: 16px;
  margin: 20px 0 30px;
}

.container form button {
  background: #002765;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.3s;
}

.container form button:hover {
  opacity: 0.95;
  transform: scale(0.98);
}

footer {
  display: inline-block;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

footer a {
  text-decoration: none;
  color: #002765;
  font-weight: 500;
}
