.footer {
  display: flex;
  flex-direction: column;
  margin: 50px 120px;
  gap: 20px;
}

.footer-logo {
  position: relative;
  z-index: 1;
  font-size: 20px;
  color: #fff;
  padding-right: 20px;
  background: transparent;
  display: inline-block;
}

.footer-logo img {
  position: absolute;
  width: 60px;
  right: 0;
  bottom: -10px;
  height: 60px;
  z-index: -1;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-top-left p {
  font-size: 20px;
  font-weight: 500;
}

.footer-top-right {
  display: flex;
  flex-direction: column;
}

.footer-top-right p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.footer-top-right a {
  background: linear-gradient(320deg, #df8908 40%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  transition: 0.3s;
}

.footer-top-right a:hover {
  transform: scale(1.1);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-bottom-right {
  display: flex;
  gap: 20px;
  font-size: 16px;
}

@media (max-width: 769px) {
  .footer {
    margin: 50px;
  }
}
@media (max-width: 490px) {
  .footer {
    margin: 20px 20px;
  }

  .footer-logo {
    font-size: 18px;
  }

  .footer-top,
  .footer-bottom {
    flex-direction: column;
    gap: 30px;
  }
}
